<div class="container m-w-550">
    <div class="header">
        <ams-page-title icon="tasks" label="Applications"></ams-page-title>
    </div>
    <div class="content-container">
        <div class="content-header">
            <div>
                <ams-search-field (search)="filterData($event)"></ams-search-field>
            </div>
            <!-- <div class="add-btn-container">
                <ams-add-new-btn (click)="createOrUpdate('Add')"></ams-add-new-btn>
            </div> -->
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="table">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let element">{{element.date | date: 'mediumDate'}}</td>
                </ng-container>
                <ng-container matColumnDef="resume">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Resume</th>
                    <td mat-cell *matCellDef="let element">{{element.resume}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element;" class="actions-cell">
                        <ams-table-actions (edit)="createOrUpdate('Edit', element)" (delete)="deleteItem(element)"></ams-table-actions>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" (click)="createOrUpdate('Edit', row)"></tr>
            </table>
        </div>
    </div>
</div>
