.search-icon {
  font-size: 17px;
  color: #00000099;
  margin-right: 10px;
}

.cancel-icon {
  cursor: pointer;
  margin-left: 10px;
}

::ng-deep .search-field .mat-form-field-infix {
  border-top: 0;
  padding: 0.5em 0 0.6em;
}

::ng-deep .search-field .mat-form-field-label-wrapper {
  padding-top: 0;
}

::ng-deep .search-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

::ng-deep .search-field.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0.4em 0.75em 0 0.75em;
}

.hide-btn {
  visibility: hidden;
}

// vertically align the icons
::ng-deep .search-field.mat-form-field-appearance-outline .mat-form-field-prefix, 
::ng-deep .search-field.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0;
}

.search-field {
  width: 100%;
}