.title {
  display: flex;
  align-items: center;
  background-color: #F8F9FB;
  margin: -24px -24px 18px -24px;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.title-icon {
  font-size: 28px;
  color: #28282a;
}

.title-label {
  margin-left: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
