<div class="login-container">
    <div class="login-img-container"></div>
    <div class="login-form">
        <div class="login-inner-ch">
            <div class="label titl">Login to Portal</div>
            <div class="" [formGroup]="form">
                <div class="row">
                    <div class="label w30">User Name</div>
                    <mat-form-field class="form-field" floatLabel="never">
                        <mat-label>Type in the username</mat-label>
                        <input matInput formControlName="username" trim="blur" cdkFocusInitial/>
                        <mat-error>
                            <ams-validation-error [form]="form" controlName="username"></ams-validation-error>
                        </mat-error>
                    </mat-form-field>
                    <div class="w10"></div>
                </div>
            </div>
            <div class="" [formGroup]="form">
                <div class="row">
                    <div class="label w30">Password</div>
                    <mat-form-field class="form-field" floatLabel="never">
                        <mat-label>Type in the username</mat-label>
                        <input matInput type="password" formControlName="password" trim="blur" cdkFocusInitial/>
                        <mat-error>
                            <ams-validation-error [form]="form" controlName="password"></ams-validation-error>
                        </mat-error>
                    </mat-form-field>
                    <div class="w10"></div>
                </div>
            </div>
            <div class="row">
                <button mat-raised-button color="primary" class="" [disabled]="!isDirty || form.invalid" (click)="login()">Login</button>
                <button mat-raised-button color="primary" class="" (click)="register()">Sign In</button>
            </div>
        </div>
    </div>
</div>