$color-orange: #e39101;
$color-default-grey: #DCDCDC;
$color-light-green: #0CB700;
$color-primary: #395D54;
$color-dark-grey: rgb(106, 108, 111);
$color-light-grey: #B8B8B8;
$color-white: #FFFFFF;
$color-font-black: #333333;
$color-font-text: #28282A;
$color-green: #7CAF42;
$color-red:#b23925;
$ams-info: #CAF5D8;