@import '/src/assets/styles/variables.scss';

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.row:last-of-type {
  margin-bottom: 20px;
}

.label {
  min-width: 170px;
  padding-right: 10px;
  width: 35%;
  line-height: 19px;
  color: $color-font-black;
  font-weight: 600;
}

.form-field {
  width: 65%;
}

.show-icon {
  cursor: pointer;

  &:hover {
    color: $color-primary;
  }
}