<!-- <sp-dialog-title [icon]="['fad', 'key']" label="Change Password"></sp-dialog-title> -->

<div mat-dialog-content [formGroup]="form">
    <div class="row">
        <span>To change your password, please provide your current password and a new one.</span>
    </div>
    <div class="row">
        <label class="label">Current Password</label>
        <mat-form-field class="form-field" floatLabel="never">
            <mat-label>Enter Your Current Password</mat-label>
            <input matInput formControlName="currentPassword" autocomplete="off" [type]="oldPassView ? 'password' : 'text'" />
            <fa-icon class="show-icon" [icon]="['fad', 'eye']" matSuffix (click)="oldPassView = !oldPassView">
            </fa-icon>
            <mat-error>
                <!-- <sp-validation-error [form]="form" controlName="currentPassword"></sp-validation-error> -->
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <label class="label">New Password</label>
        <mat-form-field floatLabel="never" class="form-field">
            <mat-label>Enter New Password</mat-label>
            <input matInput formControlName="newPassword" autocomplete="off" [type]="newPassView ? 'password' : 'text'" />
            <fa-icon class="show-icon" [icon]="['fad', 'eye']" matSuffix (click)="newPassView = !newPassView">
            </fa-icon>
            <mat-error>
                <!-- <sp-validation-error [form]="form" controlName="newPassword"></sp-validation-error> -->
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <label class="label">Confirm New Password</label>
        <mat-form-field floatLabel="never" class="form-field">
            <mat-label>Confirm New Password</mat-label>
            <input matInput formControlName="confirmNewPassword" autocomplete="off" [type]="confirmPassView ? 'password' : 'text'" />
            <fa-icon class="show-icon" [icon]="['fad', 'eye']" matSuffix (click)="confirmPassView = !confirmPassView">
            </fa-icon>
            <mat-error>
                <!-- <sp-validation-error [form]="form" controlName="confirmNewPassword"></sp-validation-error> -->
            </mat-error>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary">Save Changes</button>
</div>